---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import FloatingButton from "../components/FloatingButton.astro";
import ContentContainer from "../components/ContentContainer.astro";
---

<Layout title="Impressum">
  <Hero>
    <h1>Impressum</h1>
  </Hero>
  <FloatingButton text="Zurück" href={`${import.meta.env.BASE_URL}`} />

  <ContentContainer>
    <h2>Faradgang Berlin e.V.</h2>
    <h2>Vorstand</h2>
    <ul>
      <li>Doppelspitze: Lina Fryszer & Christoph Omid Hohnerlein</li>
      <li>Kassenwärtin: Franzsika Diehl</li>
    </ul>

    <h2>Kontakt</h2>
    <ul>
      <li>Email: info@faradgang.berlin</li>
      <li>Post: Faradgang Berlin e.V., ADRESSE</li>
    </ul>

    <h2>Weitere Funktionen</h2>
    <ul>
      <li>Datenschutzbeauftragter: Christoph Omid Hohnerlein</li>
    </ul>
  </ContentContainer>
</Layout>
