---
import Layout from "../layouts/Layout.astro";
import Svg from "@jasikpark/astro-svg-loader";
import FloatingButton from "../components/FloatingButton.astro";
import AlternatingContainer from "../components/AlternatingContainer.astro";
import Hero from "../components/Hero.astro";
import ContentCard from "../components/ContentCard.astro";
import ContentContainer from "../components/ContentContainer.astro";
---

<Layout title="Faradgang Berlin e.V.">
  <FloatingButton text="Helfen" href={`${import.meta.env.BASE_URL}helfen`} />
  <Hero isLanding={true}>
    <Svg
      src={import("../assets/faradgang_logo_big.svg?raw")}
      aria-label="A childishly drawn bicycle"
      height="80%"
    />
  </Hero>
  <ContentContainer>
    <AlternatingContainer>
      <ContentCard headline="Wer wir sind">
        <p>
          Faradgang Berlin e.V. ist eine ehrenamtlich tätige Organisation, die
          bedürftigen Menschen durch Mobilität ein Stück Selbstbestimmtheit,
          Freiheit und Lebensqualität ermöglichen möchte.
        </p>

        <Svg
          src={import("../assets/wheel.svg?raw")}
          aria-label="Sketch of a bicycle wheel"
          width="14vw"
          height="auto"
          slot="before-headline"
          style="float: right;padding-right: 0vw;"
        />

        <Svg
          src={import("../assets/bell.svg?raw")}
          aria-label="Sketch of a bicycle bell"
          width="4vw"
          height="auto"
          slot="before-headline"
          style="float: right;padding-right: 13vw;padding-top:7vw;"
        />
      </ContentCard>

      <ContentCard headline="Was wir machen">
        <p>
          Wir unterstützen Menschen, die beispielsweise aus finanziellen,
          sozialen, gesundheitlichen oder politischen Gründen auf Hilfe
          angewiesen sind. Neben unregelmäßigen Aktionstagen geschieht dies
          hauptsächlich im Rahmen von zwei Events:
        </p>

        <Svg
          src={import("../assets/cart.svg?raw")}
          aria-label="Sketch of a bicycle cart"
          width="18vw"
          height="auto"
          style="float: left;margin-top:2vw; margin-left: 4vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard subheadline="Räder Für Alle (RäFA)">
        <p>
          Wir sammeln gespendete Fahrräder und übergeben diese nach gemeinsamer
          Reparatur an unsere Gäst:innen. Wir möchten dabei einen Raum für
          Interaktion, Austausch und gemeinsames Lernen schaffen, sowie die
          Erfahrung von Selbstwirksamkeit ermöglichen.
        </p>
        <p>
          Du oder jemand den du kennst benötigt ein Fahrrad? Kontaktiere uns
          unter <strong>info@faradgang.berlin</strong>!
        </p>
        <p>
          Hinweis: Beachte bitte, dass es nicht selten eine Wartezeit von
          mehreren Wochen gibt.
        </p>
        <Svg
          src={import("../assets/backlight.svg?raw")}
          aria-label="Sketch of a bicycle backlight"
          width="4vw"
          height="auto"
          style="float: right; margin-top: 3rem;"
          slot="before-headline"
        />

        <Svg
          src={import("../assets/pedal.svg?raw")}
          aria-label="Sketch of a bicycle pedal"
          width="5vw"
          height="auto"
          style="float: right;margin-top:6rem; margin-right: 8vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard subheadline="Selbsthilfe Werkstatt">
        <p>
          Freitags zwischen 16:00 und 19:00 Uhr könnt ihr in unserer offene
          Werkstatt euer eigenes Fahrrad repariere. Wir stellen dabei Werkzeuge
          und einige Ersatzteile zu Verfügung, auch Fragen beantworten wir
          gerne.
        </p>
        <p>
          Die Werkstatt befindet sich auf dem Gelände der <a
            href="https://www.openstreetmap.org/node/9187753963#map=19/52.46946/13.42950"
            target="_blank"
            rel="noopener noreferrer"
          >
            Jacobi Prinzessinengärten</a
          > und ist selbstverständlich ohne Wartezeit allen zugänglich.
        </p>
        <Svg
          src={import("../assets/dynamo.svg?raw")}
          aria-label="Sketch of a bicycle dynamo"
          width="5vw"
          height="auto"
          style="float: left;padding-left: 8vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard headline="Wen wir erreichen möchten">
        <p>
          Grundsätzlich sind bei uns <strong>alle</strong> willkommen. Aus Zeit und
          Ressourcenmangel konzentrieren wir uns im Projekt <strong
            >Räder Für Alle</strong
          >
          auf unterstützungsbedürftigen Personen, wie beispielsweise Menschen mit:
          <ul>
            <li>Fluchterfahrung</li>
            <li>
              Diskriminierungserfahrung aus politischen, rassistischen,
              religiösen oder sozialen Gründen
            </li>
            <li>körperlichen und/oder geistigen Beeinträchtigungen</li>
            <li>Erwerbslosigkeit oder geringem Einkommen</li>
            <li>unsicheren Wohnverhältnissen</li>
          </ul>

          Die offene Werkstatt ist selbstverständlich ohne Wartezeit allen
          zugänglich.
        </p>

        <Svg
          src={import("../assets/brakes.svg?raw")}
          aria-label="Sketch of bicycle brakes"
          width="8vw"
          height="auto"
          style="float: right; margin-right: 9vw; margin-top: 8vw"
          slot="before-headline"
        />
      </ContentCard>
    </AlternatingContainer>
    <ContentCard>
      <p>
        Du möchtest uns unterstützen, entweder durch Spenden, Sachleistungen
        oder Zeit? Klicke <a href={`${import.meta.env.BASE_URL}helfen`}>hier</a>
        oder auf den großen gelben Button oben rechts
      </p>
    </ContentCard>
  </ContentContainer>
</Layout>
