---
import Layout from "../layouts/Layout.astro";
import Svg from "@jasikpark/astro-svg-loader";
import FloatingButton from "../components/FloatingButton.astro";
import AlternatingContainer from "../components/AlternatingContainer.astro";
import Hero from "../components/Hero.astro";
import ContentCard from "../components/ContentCard.astro";
import ContentContainer from "../components/ContentContainer.astro";
---

<Layout title="Faradgang Berlin e.V.">
  <FloatingButton text="Helfen" href={`${import.meta.env.BASE_URL}helfen`} />
  <Hero isLanding={true}>
    <Svg
      src={import("../assets/faradgang_logo_big.svg?raw")}
      aria-label="A childishly drawn bicycle"
      width="40vw"
      height="auto"
    />
  </Hero>
  <ContentContainer>
    <AlternatingContainer>
      <ContentCard headline="Was" subheadline="wir machen">
        <Svg
          src={import("../assets/wheel.svg?raw")}
          aria-label="Sketch of a bicycle wheel"
          width="14vw"
          height="auto"
          slot="before-headline"
          style="float: right;padding-right: 0vw;"
        />

        <Svg
          src={import("../assets/bell.svg?raw")}
          aria-label="Sketch of a bicycle bell"
          width="4vw"
          height="auto"
          slot="before-headline"
          style="float: right;padding-right: 13vw;padding-top:7vw;"
        />

        <p>
          Wir möchten durch Mobilität ein Stück Selbstbestimmtheit, Freiheit und
          Lebensqualität an andere weitergeben. Dieses Ziel verwirklichen wir
          gemeinsam mit anderen in verschiedenen Projekten.
        </p>
      </ContentCard>

      <ContentCard subheadline="Räder Für Alle">
        <p>
          Wir reparieren gemeinsam mit bedürftige Menschen gespendete Fahrräder.
        </p>
        <Svg
          src={import("../assets/dynamo.svg?raw")}
          aria-label="Sketch of a bicycle dynamo"
          width="5vw"
          height="auto"
          style="float: left;padding-left: 8vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard subheadline="Selbsthilfe Werkstatt">
        <p>
          Jeden Freitag betreuen wir eine offene Werkstatt in den
          Prinzessinengärten, bei der alle eingeladen..
        </p>
        <Svg
          src={import("../assets/backlight.svg?raw")}
          aria-label="Sketch of a bicycle backlight"
          width="4vw"
          height="auto"
          style="float: right; margin-top: 3rem;"
          slot="before-headline"
        />

        <Svg
          src={import("../assets/pedal.svg?raw")}
          aria-label="Sketch of a bicycle pedal"
          width="5vw"
          height="auto"
          style="float: right;margin-top:2rem; margin-right: 8vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard headline="Wen" subheadline="wir erreichen möchten">
        <p>
          Jeden Freitag betreuen wir eine offene Werkstatt in den
          Prinzessinengärten, bei der alle eingeladen..
        </p>

        <Svg
          src={import("../assets/cart.svg?raw")}
          aria-label="Sketch of a bicycle cart"
          width="18vw"
          height="auto"
          style="float: left;margin-top:2vw; margin-left: 4vw;"
          slot="before-headline"
        />
      </ContentCard>

      <ContentCard headline="Wer" subheadline="wir sind">
        <p>Faradgang Berlin e.V. ist ein gemeinnütziger Verein</p>

        <Svg
          src={import("../assets/brakes.svg?raw")}
          aria-label="Sketch of bicycle brakes"
          width="8vw"
          height="auto"
          style="float: right; margin-right: 9vw; margin-top: 8vw"
          slot="before-headline"
        />
      </ContentCard>
    </AlternatingContainer>
  </ContentContainer>
</Layout>
