<div class="alternating-container">
  <slot />
</div>

<style is:global>
  .alternating-container {
    width: 100%;
    position: relative;
  }

  div.alternating-container > div:nth-of-type(odd) {
    text-align: left;
  }

  div.alternating-container > div:nth-of-type(odd) > .text-content {
    padding-right: 25vw;
  }

  div.alternating-container > div:nth-of-type(even) {
    text-align: right;
  }

  div.alternating-container > div:nth-of-type(even) > .text-content {
    padding-left: 25vw;
  }
</style>
