<div class="alternating-container">
  <slot />
</div>

<style is:global>
  .alternating-container {
    width: 100%;
  }

  div.alternating-container > div:nth-of-type(odd) {
    text-align: left;
    padding-right: 16vw;
  }

  div.alternating-container > div:nth-of-type(even) {
    text-align: right;
    padding-left: 16vw;
  }
</style>
