<div class="contentCard gradient-headlines">
  <slot name="header" />
  <div class="font-changing text-content">
    <slot />
  </div>
</div>

<style>
  .contentCard {
    line-height: 1.6;
    margin-top: 10vh;
  }

  .contentCard strong {
    color: rgb(var(--accent));
  }
</style>
