---
const { headline, subheadline } = Astro.props;
import "@fontsource/rubik/latin-700.css";
---

<div class="contentCard gradient-headlines">
  <slot name="before-headline" />
  {headline && <h1>{headline}</h1>}
  {subheadline && <h2>{subheadline} </h2>}

  <div class="font-changing text-content">
    <slot />
  </div>
</div>

<style>
  .contentCard {
    line-height: 1.6;
    margin-top: 10vh;
  }

  .contentCard strong {
    color: rgb(var(--accent));
  }
</style>
