---
const { headline, subheadline } = Astro.props;
import "@fontsource/rubik/latin-700.css";
---

<div class="contentCard">
  <slot name="before-headline" />
  {
    headline && (
      <h1>
        <span class="text-gradient">{headline}</span>
      </h1>
    )
  }
  {
    subheadline && (
      <h2>
        <span class="text-gradient">{subheadline}</span>
      </h2>
    )
  }

  <div class="font-changing text-content">
    <slot />
  </div>
</div>

<style>
  h1 {
    margin: 0;
    margin-bottom: 2vw;
    padding: 0;
    font-size: 8rem;
    line-height: 80%;
    display: block;
    font-family: "Rubik";
    font-weight: 700;
  }

  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 1vw;
    font-size: 3rem;
    line-height: 80%;
    font-family: "Rubik";
    font-weight: 700;
  }

  .contentCard {
    line-height: 1.6;
    margin-top: 10vh;
  }

  .contentCard strong {
    color: rgb(var(--accent));
  }
</style>
