---
export interface Props {
  darkBackground?: boolean;
}
const { darkBackground = false } = Astro.props;
---

<section class=`contentCard ${darkBackground ? "darkBackground" : ""}`>
  <div class="content gradient-headlines">
    <slot />
  </div>
</section>

<style>
  .contentCard {
    /* margin: 10rem; */
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .contentCard strong {
    color: rgb(var(--accent));
  }

  .darkBackground {
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-bright));
  }

  /* for padding formula see https://matthewjamestaylor.com/responsive-padding */
  .content {
    max-width: 60rem;
    padding: calc(8px + 1.5625vw);
  }
</style>
