---
import "@fontsource/rubik/latin-400.css";

const fonts = ["Rubik"];
---

<script>
  function changeFont(this: HTMLSelectElement) {
    const content = document.querySelectorAll<HTMLElement>(".font-changing");
    for (let contentElement of content) {
      contentElement.style.fontFamily = this.value;
    }
  }

  const selects = document.querySelectorAll("select");
  selects.forEach((select) => {
    select.addEventListener("change", changeFont);
  });
</script>

<select>
  {fonts.map((font) => <option>{font}</option>)}
</select>
