---
import "@fontsource/dosis/latin-400.css";
import "@fontsource/open-sans/latin-400.css";
import "@fontsource/mulish/latin-400.css";
import "@fontsource/roboto/latin-400.css";
import "@fontsource/amatic-sc/latin-400.css";
import "@fontsource/rubik/latin-400.css";

const fonts = ["Rubik", "Dosis", "Open Sans", "Mulish", "Roboto"];
---

<script>
  function changeFont(this: HTMLSelectElement) {
    const content = document.querySelectorAll<HTMLElement>(".font-changing");
    for (let contentElement of content) {
      contentElement.style.fontFamily = this.value;
    }
  }

  const selects = document.querySelectorAll("select");
  selects.forEach((select) => {
    select.addEventListener("change", changeFont);
  });
</script>

<select>
  {fonts.map((font) => <option>{font}</option>)}
</select>
