---
import Hero from "./Hero.astro";
import "@fontsource/rubik/latin-700.css";

import LanguagePicker from "../components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations, localizedUrl } from "../i18n/utils";
import { languages } from "../i18n/ui";
const language = getLangFromUrl(Astro.url);
const translations = useTranslations(language);
const imprintUrl = localizedUrl("imprint", language);
const privacyUrl = localizedUrl("privacy-policy", language);

const date = new Date();
const BuildTimes = Object.fromEntries(
  languages.map((language) => [
    language,
    date.toLocaleTimeString(language, {
      year: "numeric",
      month: "short",
      day: "numeric",
    }),
  ])
);
---

<footer>
  <Hero>
    <div style="justify-content: center">
      <ul>
        <li>
          <a href={imprintUrl}>{translations("nav.imprint")}</a>
        </li>
        <li>
          <a href={privacyUrl}>{translations("nav.privacy-policy")}</a>
        </li>
      </ul>
      <ul>
        <li><LanguagePicker /></li>
      </ul>
      <ul>
        <li>{translations("lastUpdate")}: {BuildTimes[language]}</li>
      </ul>
    </div>
  </Hero>
</footer>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--background-color));
  }

  li {
    display: inline;
    padding: 0 2vw;
  }

  a {
    font-weight: 700;
    font-size: larger;
    text-decoration: none;
    font-family: "Rubik";
  }

  a:hover {
    text-decoration: underline;
  }
</style>
