---
const { isLanding } = Astro.props;
---

<div class:list={["hero", { landing: isLanding }]}>
  <slot />
</div>

<style>
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    color: rgb(var(--background-color));
  }

  .landing {
    height: 75vh;
    padding: 1rem 2rem;
  }
</style>
