---
const { isLanding } = Astro.props;
const heroClassnames = `hero ${isLanding ? "landing" : ""}`;
---

<div class={heroClassnames}>
  <slot />
</div>

<style>
  .hero {
    background-image: var(--accent-gradient);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
  }

  .landing {
    min-height: 90vh;
  }
</style>
