---
import { languages } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
---

<ul>
  {
    languages.map((lang) => (
      <li>
        <a href={`/${lang}`}>{useTranslations(lang)("name")}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  li {
    padding: 0 0.5rem;
    display: inline-block;
  }
</style>
