---
import Svg from "@jasikpark/astro-svg-loader";
const onSVG = import("./on.svg?raw");
const offSVG = import("./off.svg?raw");
---

<script>
    const getThemeString = () =>
        document.documentElement.attributes.getNamedItem("data-theme")?.value;
    function setIcon() {
        const [visible, hidden] =
            getThemeString() == "dark"
                ? ["iconOn", "iconOff"]
                : ["iconOff", "iconOn"];
        document.getElementById(visible)!.style.display = "inline";
        document.getElementById(hidden)!.style.display = "none";
    }

    const themeButton = document.getElementById("ToggleButton");
    themeButton?.addEventListener("click", () => {
        const newTheme = getThemeString() == "dark" ? "light" : "dark";
        document.dispatchEvent(
            new CustomEvent("set-theme", { detail: newTheme })
        );
        setIcon();
    });
    setIcon();
</script>

<button id="ToggleButton" style="width: 30px;">
    <Svg
        src={offSVG}
        aria-label="Toggle dark/light theme"
        width="auto"
        height="30px"
        id="iconOff"
        style="left:0px;position:relative"
    />
    <Svg
        src={onSVG}
        aria-label="Toggle dark/light theme"
        width="auto"
        height="30px"
        id="iconOn"
        style="left:0px;position:relative"
    />
</button>

<style>
    button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
</style>
