---
import Hero from "../components/Hero.astro";
import Layout from "./Layout.astro";
import ContentContainer from "../components/ContentContainer.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  gradientHeadlines?: boolean;
  backButton?: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Hero>
    <h1 class="mainTitle">{frontmatter.title}</h1>
  </Hero>

  <ContentContainer>
    <div class:list={[{ "gradient-headlines": frontmatter.gradientHeadlines }]}>
      <slot />
    </div>
  </ContentContainer>
</Layout>

<style>
  .mainTitle {
    width: 100vw;
    word-wrap: break-word;
    text-align: center;
  }
</style>
